@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #070506;
}

p, div, button, input {
  color: #bda348;
  background-color: #070506;
  border-color: #69491c;
  font-family: Retro;
  font-size: small;
}

@font-face {
  font-family: 'Retro';
  src: url('assets/fonts/Retro/Retro_Gaming.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

input:focus {
  border-color: #bda348; /* Desired border color when clicked */
  outline: none; /* Optional: remove the default outline */
}

button:active {
  outline: 2px solid #bda348; /* Change to your desired color */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
