<div class="flex flex-col items-center border-2 border-black gap-3 p-3">
  <div class="flex gap-3">
    <div class="flex flex-col items-end gap-3">
      <div>
        <label class="mr-3">X:</label>
        <input class="w-10 border-2 border-black" type="number">
      </div>

      <div>
        <label class="mr-3">Raio:</label>
        <input class="w-10 border-2 border-black" type="number">
      </div>

      <div>
        <label class="mr-3">Velocidade:</label>
        <input class="w-10 border-2 border-black" type="number">
      </div>
    </div>

    <div class="flex flex-col items-end gap-3">
      <div>
        <label class="mr-3">Y:</label>
        <input class="w-10 border-2 border-black" type="number">
      </div>

      <div>
        <label class="mr-3">Ângulo:</label>
        <input class="w-10 border-2 border-black" type="number">
      </div>

      <div>
        <label class="mr-3">Direção:</label>
        <input class="w-10 border-2 border-black" type="number">
      </div>
    </div>
  </div>
  <button class="border-2 border-black p-2">Inserir</button>
</div>
