<div class="flex flex-col items-center border-2   gap-3 p-3">
  <div class="flex gap-3">
    <div class="flex flex-col items-end gap-3">
      <div>
        <label class="mr-3">X:</label>
        <input class="w-16 border-2  " type="number" [(ngModel)]="X">
      </div>

      <div>
        <label class="mr-3">Raio:</label>
        <input class="w-16 border-2  " type="number" [(ngModel)]="Raio">
      </div>

      <div>
        <label class="mr-3">Velocidade:</label>
        <input class="w-16 border-2  " type="number" [(ngModel)]="Velocidade">
      </div>
    </div>

    <div class="flex flex-col items-end gap-3">
      <div>
        <label class="mr-3">Y:</label>
        <input class="w-16 border-2  " type="number" [(ngModel)]="Y">
      </div>

      <div>
        <label class="mr-3">Ângulo:</label>
        <input class="w-16 border-2  " type="number" [(ngModel)]="Angulo">
      </div>

      <div>
        <label class="mr-3">Direção:</label>
        <input class="w-16 border-2  " type="number" [(ngModel)]="Direcao">
      </div>
    </div>
  </div>
  <button class="border-2   p-2 w-full" (click)="addLinha()">Inserir</button>
</div>
