<div class="flex w-full gap-3  p-3">
  <div class="flex flex-col w-full gap-3">
    <p>Entrada de Dados</p>
    <app-entrada-de-dados></app-entrada-de-dados>

    <div class="flex flex-col gap-3">
      <p>Funções de Transformação</p>
      <div class="flex w-full gap-3">
        <app-funcao-translandar class="w-full"></app-funcao-translandar>
        <app-funcao-escalonar class="w-full"></app-funcao-escalonar>
      </div>
      <app-funcao-rotacionar></app-funcao-rotacionar>
    </div>

    <p>Funções de Rastreamento</p>
    <app-funcao-avioes-prox-aerop></app-funcao-avioes-prox-aerop>

    <div class="size-full border-2 p-2 text-xs text-[#967444] text-center align-middle">Criadores: Daniel Junkes, Felipe Vedova e Lucas Serafim</div>
  </div>

  <div class="flex flex-col w-full gap-3 justify-between">
    <div class="flex flex-col gap-3">
      <p>Radar</p>
      <app-radar></app-radar>
    </div>

    <div class="flex w-full gap-3">
      <app-funcao-avioes-prox class="w-full"></app-funcao-avioes-prox>
      <app-funcao-rota-colisao class="w-full"></app-funcao-rota-colisao>
    </div>
  </div>

  <div class="flex flex-col w-full gap-3">
    <p>DataGrid</p>
    <app-data-grid class="h-[288.4px]"></app-data-grid>
    <p>Relatório</p>
    <app-relatorio class="h-[288.4px]"></app-relatorio>
  </div>
</div>
