<div class="flex justify-center border-2   gap-3 p-3">
  <div class="flex flex-col gap-3">
    <div>
      <label class="mr-3">Ângulo:</label>
      <input class="w-14 border-2  " type="number" [(ngModel)]="angulo">
    </div>
    <button class="border-2   p-2 w-full" (click)="rotacionar()">Rotacionar</button>
  </div>

  <div class="flex flex-col gap-3">
    <p>Centro de Rotação:</p>
    <div class="flex gap-3">
      <div>
        <label class="mr-3">X:</label>
        <input class="w-14 border-2  " type="number" [(ngModel)]="X">
      </div>

      <div>
        <label class="mr-3">Y:</label>
        <input class="w-14 border-2  " type="number" [(ngModel)]="Y">
      </div>
    </div>
  </div>
</div>
